:root {
	--primary-color: #118bdc;
	--important-color: #dc3611;
	--secondary-color: white;
	--main-border-style: 1px solid var(--primary-color);
	--strong-border-style: 5px solid var(--primary-color);
}

body {
	background-color: var(--secondary-color)
}

div#wrapper {
	width: 700px;
	border: var(--main-border-style);
	padding: 0px;
	margin: 0px;
}

div#box-model {
	width: 250px;
	float: left;
	margin: 10px;
	padding: 10px;
	border: var(--strong-border-style);
}

.input-required::after {
	content: '*';
	color: var(--important-color);
}

input:focus {
	border: 2px solid var(--primary-color);
}

a:hover {
	border: 2px solid var(--secondary-color);
}

input[type="text"] {
	border: 1px solid black;
}

span, h1 {
	/* line-height: 2px; */
}

h1 {
	color: #cf9623;
	text-align: center;
	border: 2px solid red;
	padding: 20px;
	margin: 10px;
	/* margin-left: 15px; */
	/* margin-right: 15px; */
	/* margin-bottom: 10px; */
}

.required {
	color: var(--primary-color);
}

input.required {
	border: 2px solid var(--primary-color);
}

div.form-general-info span.required {
	color: blue;
}

input[type^="ph"] {
	font-size: 20px;
}

ul>li>a {
	color: var(--primary-color);
	text-decoration: none;
}
div#wrapper p::first-letter {
	color: var(--important-color);
	font-size: 40px;
}

div#wrapper p::selection {
	color: inherit;
	font-size: 40px;
}
div#wrapper p::after {
	content: "...continuará";
}

div#wrapper p::before {
	content: "Había una vez...";
	color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
	:root {
		--primary-color: green;
	}
}